body {
  background-image: url(../img/full-bloom.png);
}
.logo {
    font-family: 'Peralta', cursive;
}
.logo a {
    color: rgba(100,100,100)
}
.logo a: hover,
.logo a:active {
    text-decoration: none;
}