{% extends 'base.html' %}
{% block title %}Edit post{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item" ><a href="{% url 'board_topics' post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
    <li class="breadcrumb-item" ><a href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}">{{ post.topic.subject }}</a></li>
    <li class="breadcrumb-item active">Edit posts</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'include/form.html' %}
        <button type="submit" class="btn btn-success">Save change</button>
        <a role="button" class="btn btn-outline-secondary" href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}">Cancel</a>
    </form>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}